.side-nav{
    background-color: rgb(232, 228, 228);
    width: 10%;
    max-width: 10%;
    margin-top: 5px;
    border: 1px solid gainsboro;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }